{% extends "base.html" %}

{% block title %}
Home - Inventory System
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Inventory System</h1>
    <p class="lead">Manage your products efficiently and effectively.</p>
    <hr class="my-4">
    <p>Use the buttons below to navigate through the system.</p>
    {% if current_user.is_authenticated %}
    <form action="{{ url_for('routes.search_product') }}" method="post" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search" id="searchInput">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
    <br>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.add_product') }}" role="button" id="addDataButton">Add Product</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.upload_csv') }}" role="button">Upload CSV</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.view_stock') }}" role="button">View Stock</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.make_sale') }}" role="button">Make Sale</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.sales') }}" role="button">Sales</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.invoices') }}" role="button">Invoices</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.print_stock_pdf') }}" role="button">Print Stock Report</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.login') }}" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.register') }}" role="button">Register</a>
    {% endif %}
</div>
{% endblock %}
