{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Stock List</h2>
    <table >
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Item</th>
                <th>Total Pieces</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for prefix, items in grouped_stock.items() %}
            <tr class="table-active">
                <td>{{ prefix }}</td>
                <td>{{ item_names[prefix] }}</td>
                <td>{{ total_pieces_per_prefix[prefix] }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" onclick="toggleDetails('{{ prefix }}')">Expand</button>
                </td>
            </tr>
            <tbody id="{{ prefix }}" style="display:none;" class="inner-table">
                <tr>
                    <th>Product Code</th>
                    <th>Item</th>
                    <th>Buying Price Summation</th>
                    <th>Selling Price Summation</th>
                    <th>Profit Summation</th>
                    <th>Actions</th>
                </tr>
                {% for item in items %}
                <tr>
                    <td>{{ item.product_code }}</td>
                    <td>{{ item.item_name }}</td>
                    
                    <td>{{ item.bp_summation }}</td>
                    <td>{{ item.sp_summation }}</td>
                    <td>{{ item.profit_summation }}</td>
                    <td>
                        <form action="{{ url_for('routes.delete_product', code=item.product_code) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a href="{{ url_for('routes.update_product', code=item.product_code) }}" class="btn btn-warning">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <h4>Total Pieces: {{ total_pieces }}</h4>
        <h4>Total Buying Price Summation: {{ total_bp_summation }}</h4>
        <h4>Total Selling Price Summation: {{ total_sp_summation }}</h4>
        <h4>Total Profit Summation: {{ total_profit_summation }}</h4>
    </div>
</div>

<script>
function toggleDetails(prefix) {
    var tbody = document.getElementById(prefix);
    if (tbody.style.display === "none") {
        tbody.style.display = "table-row-group";
    } else {
        tbody.style.display = "none";
    }
}
</script>
{% endblock %}
